.character-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
}

/* Estrutura do Card de Personagem */
.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  min-height: 420px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-image: url("../images/rick-and-morty-portal-1920-x-1080-v0-lwwt86ci5anz.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 410%;
}

/* Cabeçalho do Card (Nome) */
.character-name {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.character-name p {
  margin: 0;
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

/* Imagem Central (Avatar) */
.character-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(151, 206, 76, 0.6);
}

/* Bloco de Detalhes (Espécie, Gênero e Status) */
.character-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adicionado para afastar as colunas */
  width: 100%;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px; /* Ajustado para dar mais respiro interno */
  margin: 0;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1rem;
  color: #333;
}

/* Centraliza os textos dentro da Grid */
.character-details li {
  /* Impede que o texto quebre a tabela se for muito grande */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* Status do Personagem (Ocupa linha inteira) */
.character-details li:nth-child(3) {
  grid-column: span 2;
  border-top: 1px dashed #ccc;
  padding-top: 8px;
  margin-top: 2px;
}

/* Rodapé do Card (Origem) */
.character-origin {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.character-origin p {
  margin: 0;
  color: #97ce4c;
  font-size: 1.1rem;
  font-weight: bold;
  word-wrap: break-word; 
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9), -1px -1px 2px rgba(0, 0, 0, 0.8);
}
