.noposts{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 10vh;
    gap: 20px;
    
}
.noposts a{
    padding: 10px 25px;
}
.header_posts{

}
.body_posts{

}
.footer_posts{
    
}