

*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin:0;
}
.active {
    background-color: #000;
    border-radius: 10px;
    color:#fff;
}

input:focus, textarea:focus{
    outline: none;
}

a, nav button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #000;
    transition: .5s;
    font-size: 1em;
    cursor: pointer;
}
a:hover, nav button:hover{
    color: #bbb;
}
/*como a maioria dos formulários são iguais, criamos um estilo global*/
/*form styles*/
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 30%;
}
 form span{
    display: block;
    margin-bottom: 5px;
    
}
form input{
    width: 100%;
}